<div class="login-panel p--l">
  <div class="input-container">
    <app-menu-input
      inputName="inputEmail"
      placeholder="Emailaddress"
      control="email"
      [form]="myForm"
      errorMessage="Enter a valid emailaddress!">
    </app-menu-input>

    <app-menu-input
      inputName="inputUsername"
      placeholder="Username"
      control="username"
      [form]="myForm"
      errorMessage="Username cannot be empty!">
    </app-menu-input>

    <app-menu-input
      type="password"
      inputName="inputPassword"
      placeholder="Password"
      control="password"
      [form]="myForm"
      errorMessage="Enter a valid password!">
    </app-menu-input>
  </div>

  <app-confirmation-rounded
    text="Enter"
    (click)="HandleRegistration()">
  </app-confirmation-rounded>
</div>