<div class="login-panel p--l">
  <div class="input-container">
    <app-input-menu
      inputName="inputEmail"
      placeholder="Emailaddress"
      control="email"
      [form]="myForm"
      errorMessage="Enter a valid emailaddress!">
    </app-input-menu>

    <app-input-menu
      inputName="inputUsername"
      placeholder="Username"
      control="username"
      [form]="myForm"
      errorMessage="Username cannot be empty!">
    </app-input-menu>

    <app-input-menu
      type="password"
      inputName="inputPassword"
      placeholder="Password"
      control="password"
      [form]="myForm"
      errorMessage="Enter a valid password!">
    </app-input-menu>
  </div>

  <app-btn-panel
    text="Enter"
    (click)="HandleRegistration()">
  </app-btn-panel>
</div>