.setting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    background-color: var(--gray-dark);

    .stick-left {
        display: flex;
        flex-direction: column;

        .setting-name,
        .setting-description {
            margin: 0;
        }

        .setting-name {
            font-size: 24px;
            font-weight: 500;
            color: var(--white);
        }

        .setting-description {
            color: var(--gray-normal);
        }
    }
}