<div class="chat-controls">
  <div class="controls-top">

    <button class="btn-return">
      <app-icon-template
        icon="cross" 
        [size]="20" 
        fill="#fff"
        (click)="navigateTo('home')">
      </app-icon-template>
    </button>

    <app-chatroom-info
      class="chatroom-info"
      [id]="roomData?.id"
      [creator]="roomData?.uid"
      [participants]="roomData?.count">
    </app-chatroom-info>
  </div>

  <div id="scroll" class="chats-container m-t--l m-b--l">
    <app-chat-message 
      *ngFor="let message of chatMessages" 
      [chatData]="{username: message.uid, message: message.message, timestamp: message.createdAt}">
    </app-chat-message>
  </div>

  <app-chat-input (messageEmitter)="handleEmit($event)"></app-chat-input>
</div>