<div class="chat-controls">
  <app-chatroom-info 
    [id]="roomData.id"
    [creator]="roomData.creator"
    [participants]="roomData.participants">
  </app-chatroom-info>

  <div id="scroll" class="chats-container m-t--l m-b--l">
    <app-chat-message 
      *ngFor="let message of chatMessages" 
      [chatData]="{username: message.uid, message: message.message, timestamp: message.createdAt}">
    </app-chat-message>
  </div>

  <app-chat-input (messageEmitter)="handleEmit($event)"></app-chat-input>
</div>