<div class="options-container">
  <app-option-main-menu
    [index]="0" 
    option="Chat" 
    collapsed_option1="New" 
    collapsed_option2="Join" 
    path1="chat/create"
    path2="chat/join"
    [disabled]="optionCollapsed && optionSelected !== 0"
    (emitCollapse)="disableOptions($event)">
  </app-option-main-menu>

  <app-option-main-menu
    [index]="1" 
    option="Hartenjagen" 
    collapsed_option1="New" 
    collapsed_option2="Join" 
    path1="hearts/create" 
    path2="hearts/join"
    [disabled]="optionCollapsed && optionSelected !== 1"
    (emitCollapse)="disableOptions($event)">
  </app-option-main-menu>
</div>