.title-container {
    margin: 0 0 10px 0;

    &--align-left {
        text-align: left;
    }

    &--align-center {
        text-align: center;
    }

    &--align-right {
        text-align: right;
    }

    .title {
        margin: 0;
        color: var(--white);
    }
}