.m {
    &--0 {
        margin: 0;
    }

    &--sm {
        margin: 6px;
    }

    &--md {
        margin: 12px;
    }

    &--l {
        margin: 24px;
    }

    &--xl {
        margin: 32px;
    }

    &--xxl {
        margin: 48px;
    }
}

.m-b {
    &--0 {
        margin-bottom: 0;
    }

    &--sm {
        margin-bottom: 6px;
    }

    &--md {
        margin-bottom: 12px;
    }

    &--l {
        margin-bottom: 24px;
    }

    &--xl {
        margin-bottom: 32px;
    }

    &--xxl {
        margin-bottom: 48px;
    }
}

.m-t {
    &--0 {
        margin-top: 0;
    }

    &--sm {
        margin-top: 6px;
    }

    &--md {
        margin-top: 12px;
    }

    &--l {
        margin-top: 24px;
    }

    &--xl {
        margin-top: 32px;
    }

    &--xxl {
        margin-top: 48px;
    }
}

.m-l {
    &--0 {
        margin-left: 0;
    }

    &--sm {
        margin-left: 6px;
    }

    &--md {
        margin-left: 12px;
    }

    &--l {
        margin-left: 24px;
    }

    &--xl {
        margin-left: 32px;
    }

    &--xxl {
        margin-left: 48px;
    }
}

.m-r {
    &--0 {
        margin-right: 0;
    }

    &--sm {
        margin-right: 6px;
    }

    &--md {
        margin-right: 12px;
    }

    &--l {
        margin-right: 24px;
    }

    &--xl {
        margin-right: 32px;
    }

    &--xxl {
        margin-right: 48px;
    }
}

.p {
    &--0 {
        padding: 0;
    }

    &--sm {
        padding: 6px;
    }

    &--md {
        padding: 12px;
    }

    &--l {
        padding: 24px;
    }

    &--xl {
        padding: 32px;
    }

    &--xxl {
        padding: 48px;
    }
}

.p-b {
    &--0 {
        padding-bottom: 0;
    }

    &--sm {
        padding-bottom: 6px;
    }

    &--md {
        padding-bottom: 12px;
    }

    &--l {
        padding-bottom: 24px;
    }

    &--xl {
        padding-bottom: 32px;
    }

    &--xxl {
        padding-bottom: 48px;
    }
}

.p-t {
    &--0 {
        padding-top: 0;
    }

    &--sm {
        padding-top: 6px;
    }

    &--md {
        padding-top: 12px;
    }

    &--l {
        padding-top: 24px;
    }

    &--xl {
        padding-top: 32px;
    }

    &--xxl {
        padding-top: 48px;
    }
}

.p-l {
    &--0 {
        padding-left: 0;
    }

    &--sm {
        padding-left: 6px;
    }

    &--md {
        padding-left: 12px;
    }

    &--l {
        padding-left: 24px;
    }

    &--xl {
        padding-left: 32px;
    }

    &--xxl {
        padding-left: 48px;
    }
}

.p-r {
    &--0 {
        padding-right: 0;
    }

    &--sm {
        padding-right: 6px;
    }

    &--md {
        padding-right: 12px;
    }

    &--l {
        padding-right: 24px;
    }

    &--xl {
        padding-right: 32px;
    }

    &--xxl {
        padding-right: 48px;
    }
}