<div class="login-panel p--l">
  <div class="input-container">
    <app-menu-input
      inputName="inputEmail"
      placeholder="Emailaddress"
      control="email"
      [form]="myForm"
      errorMessage="Enter a valid emailaddress!">
    </app-menu-input>

    <app-menu-input
      type="password"
      inputName="inputPassword"
      placeholder="Password"
      control="password"
      [form]="myForm"
      errorMessage="Enter a valid password!">
    </app-menu-input>

    <p class="link-new-user">
      <a routerLink="/auth/registration">Create account</a>
    </p>
  </div>

  <app-confirmation-rounded
    text="Enter"
    (click)="handleLogin()">
  </app-confirmation-rounded>
</div>