.menu-input {
    padding: 15px 10px;
    width: calc(100% - 20px);

    border: none;
    border-radius: 20px;

    color: var(--gray-normal);
    font-size: 24px;
    background-color: var(--gray-light);
}

.menu-input:focus {
    outline: none;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
    color: var(--gray-normal);
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: var(--gray-normal);
}

/* Microsoft Edge */
::-ms-input-placeholder {
    color: var(--gray-normal);
}

.error-container {
    padding: 5px;

    .error-message {
        color: var(--red);
        margin: 0;
    }
}