<div class="join-panel p--l">
  <div class="input-container">
    <div class="panel-controls">
      <app-icon-template 
        icon="cross" 
        [size]="20" 
        fill="#2C2C2C"
        (click)="navigateTo('home')">
      </app-icon-template>
    </div>

    <app-input-menu
      inputName="inputRoomcode"
      placeholder="Roomcode"
      control="roomcode"
      [form]="myForm"
      errorMessage="Enter a valid room code!">
    </app-input-menu>
  </div>

  <app-btn-panel 
    text="Enter"
    (click)="navigateToRoom()">
  </app-btn-panel>
</div>