<div class="settings-container">
  <button 
    class="btn-setting"
    (click)="logout()">
    <app-icon-template 
      icon="logout" 
      [size]="20" 
      fill="#fff">
    </app-icon-template>
  </button>

  <div class="stick-right">
    <button 
    class="btn-setting">
    <app-icon-template 
      icon="profile" 
      [size]="20" 
      fill="#fff">
    </app-icon-template>
  </button>

  <button 
    class="btn-setting">
    <app-icon-template 
      icon="settings" 
      [size]="20" 
      fill="#fff"
      (click)="navigateTo('home/settings')">
    </app-icon-template>
  </button>
  </div>
</div>