<div 
  class="container" 
  (click)="collapseOptions()">
  <p class="option-name">
    {{option}}
  </p>
  
  <div 
    class="block" 
    [class.block--rotated]="!optionsCollapsed">
    <app-icon-template 
      icon="arrow-right" 
      [size]="20">
    </app-icon-template>
  </div>
</div>

<div 
  *ngIf="!optionsCollapsed" 
  class="collapsed-options">
  <app-confirmation-rounded 
    [flat]="true" 
    text="{{collapsed_option1}}"
    (click)="navigateTo(path1)">
  </app-confirmation-rounded>
  
  <app-confirmation-rounded 
    [flat]="true" 
    text="{{collapsed_option2}}"
    (click)="navigateTo(path2)">
  </app-confirmation-rounded>
</div>
