.container {
    padding: 0 0 0 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 10px;
    background-color: var(--gray-dark);

    .option-name {
        font-size: 20px;
        color: var(--white);
    }

    .block {
        width: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 0 10px 10px 0;
        background-color: var(--blue-normal);
        color: var(--white);
        cursor: pointer;
    }
}