.btn-game-setting {
    width: 60px;
    height: 60px;

    position: relative;

    cursor: pointer;
    border-radius: 50%;
    background-color: gray;

    app-icon-template {
        position: absolute;
        top: (50%);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .vertical-align {
        top: (calc(50% + 2px));
    }
}