.container {
    padding: 0 0 0 20px;
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 10px;
    background-color: var(--gray-dark);
    
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .option-name {
        font-size: 20px;
        color: var(--white);
    }

    .block {
        width: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 0 10px 10px 0;
        background-color: var(--blue-normal);
        color: var(--white);
        cursor: pointer;

        &--rotated {
            app-icon-template {
                transform: rotate(90deg) translateY(3px);
            }
        }
    }
}

.collapsed-options {
    margin: 10px 0 0 0;

    display: flex;
    justify-content: space-between;

    app-btn-panel {
        flex-basis: 49%;
    }
}