.rounded-btn {
    width: 100%;
    padding: 20px;

    border: none;
    border-radius: 50px;

    background-color: var(--gray-light);
    color: var(--black);
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;

    &--flat {
        border-radius: 20px;
    }
}